*{
    box-sizing: border-box;
}

#title {
    text-align: center;
    margin-top: 30px;
}

.todo-container {
    margin: 20px;
}

.todo-container input {
    margin-bottom: 10px;
}

.todo-list {
    margin: 20px;
}

.todo-input {
    display: flex;
    margin: 10px 20px;
}

.todo-input p {
    flex-grow: 3
    ;
}

/* footer */

.footer {
    height: 50px;
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
  }
  
  .footer-container {
    display: flex;
    gap: 0;
  }
  
  .footer-container a {
    align-content: center;
    /* border: 1px solid black; */
    height: 100%;
    padding: 10px;
  }
  
  .footer-container a:hover {
    background-color: lightpink;
  }