@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: Urbanist, sans-serif;
}

body {
  background-image: url(/to-do-list-two/images/background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#title {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

.container {
  display: flex;
}

.todo-container {
  margin: 20px;
  padding: 20px;
  height: 130px;
  width: 530px;

  /* styling */
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.3px);
  -webkit-backdrop-filter: blur(11.3px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.input-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.todo-container input {
  margin-bottom: 10px;
}

#input-date {
  border: 1.5px solid #dee2e6;
  border-radius: 7px;
  height: 37px;
  align-self: center;
  padding: 0px 10px;
  color: gray;
}


.todo-list {
  margin: 20px;
  flex-grow: 2;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.3px);
  -webkit-backdrop-filter: blur(11.3px);
  border: 1px solid rgba(255, 255, 255, 1);
}

#todo-list-title {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

.todo-input {
  flex-direction: column;
  display: flex;
  margin: 10px 20px;
}

.item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  margin: 10px;
  padding: 10px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}

.item p {
  margin: 0;
}

.name {
  margin: 0;
  align-self: center;
}

.date {
  margin: 0;
 text-align: center;
  align-self: center;
}

/* footer */

.footer {
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.486);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}

.footer-container {
  display: flex;
  gap: 0;
}

.footer-container a {
  align-content: center;
  /* border: 1px solid black; */
  height: 100%;
  padding: 10px;
}

.footer-container a:hover {
  background-color: lightpink;
}
